<style>
    .button-link {
        display: inline-block;
        padding: 8px 16px;
        background-color: #4CAF50;
        color: white;
        text-decoration: none;
        border: none;
        border-radius: 4px;
        margin-right: 10px;
        cursor: pointer;
    }
    .button-link:hover {
        background-color: #45a049;
    }
    </style>
    
    
    

<h2>Welcome to Histology Labeler</h2>

{% if user.is_authenticated %}
  <p>Hello, {{ user.username }}!</p>
  <a href="{% url 'gallery' %}">Go to Gallery</a> |
  <a href="{% url 'upload' %}">Upload a Slide</a> |
 
  <form method="post" action="{% url 'logout' %}">
    {% csrf_token %}
    <button type="submit">Logout</button>
  </form>
{% else %}
  <p>Please <a href="{% url 'login' %}">Login</a> or <a href="{% url 'signup' %}">Sign Up</a>.</p>
{% endif %}
